<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Tool</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<header>
    <h1 id="titlehead"><img src="/public/img/logo_with_white.png" id="logo"  alt="Amelio's Bistro Logo">Welcome to Amelio's Bistro. </h1>
    <nav>
        <ul>
            <li>
                <a href="../views/index.ejs">Home Page</a>
            </li>
            <li>
                <a href="../views/html/my_resume.ejs">My Resume</a>
            </li>
            <li>
                <a href="../views/html/my_fun_facts.ejs">Fun Facts About Me</a>
            </li>
           
        </ul>
    </nav>
    <h1>test</h1>
</header>


<body>
    
</body>
</html>