<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelio's Bistro</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/4f63203b31.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../public/img/logo_black.png" type="image/x-icon">
</head>
<header>
    <img src="/public/img/logo_with_white.png" id="navlogo" alt="Amelio's Bistro Logo">
    <h1 class="titlehead">Welcome to Amelio's Bistro! </h1>
    <nav>
        <ul id="navbar">
            <li>
                <a href="../views/index.ejs">Home Page</a>
            </li>
            <li>
                <a href="../views/html/menu.ejs">Menu</a>
            </li>
            <li>
                <a href="../views/html/about.ejs">About us</a>
            </li>
            <li>
                <a href="../views/html/order.ejs">Order</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <img src="/public/img/food/Pancakes.jpg" alt="Pancakes" id="Pancakes">
    <div id="shortinfo">Breakfast, Lunch, & Dinner!</div>
    <ul id="bottominfo">
        <li>555 Forest Hill Drive</li>
        <li>Auburn Hills, MI 48009 </li>
        <li>(555)-555-5555</li>
    </ul>
</body>
<footer>
    <br>
    <hr>
    <p>&copy;Amelio's Bistro <br></p>
    <address>555 Forest Hill Drive <br> Auburn Hills, MI 48009</address><br>
    <p> Phone Number: <a href="tel:555-555-5555">555-555-5555</a></p>
    <label for="email">Business Email:</label>
    <a href="mailto: ameliosbistro@yahoo.com" id="email">ameliosbistro@yahoo.com</a> <br>
    <label for="email">Personal Email:</label>
    <a href="mailto: ameliomansour@yahoo.com" id="email">ameliomansour@yahoo.com</a> <br>
    <br>
    <p>Follow our socials!</p>
    <a href="https://www.instagram.com" target="_blank">
        <i class="fab fa-instagram-square fa-4x"></i>
    </a>
    <a href="https://www.facebook.com/" target="_blank">
        <i class="fab fa-facebook-square fa-4x"></i>
    </a>
</footer>

</html>