<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelio's Bistro</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="shortcut icon" href="../public/img/logo_black.png" type="image/x-icon">
</head>
<header>
    <img src="/public/img/logo_with_white.png" id="navlogo" alt="Amelio's Bistro Logo">
    <h1 id="titlehead">Welcome to Amelio's Bistro </h1>
    <nav>
        <ul>
            <li>
                <a href="../views/index.ejs">Home Page</a>
            </li>
            <li>
                <a href="../views/html/Menu.ejs">Menu</a>
            </li>
            <li>
                <a href="../views/html/about.ejs">About us</a>
            </li>

        </ul>
    </nav>
</header>

<body>

    <img src="/public/img/food/Pancakes.jpg" alt="Pancakes" id="Pancakes">
</body>

</html>