header, body {
    margin-top: -22px;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    color: white;
    background-color: rgb(100, 159, 167);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: sans-serif;


}

h2, h3, h4 {
    color: white;
    background-color: rgb(100, 159, 167);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav a:active {
    background-color: aqua;

}

#navbar {
    background-color: rgb(190, 183, 183);
    margin-top: -24px;
    margin-bottom: 0px;
    text-align: center;



}

#navbar a:hover {
    background-color: rgb(100, 159, 167);
}

#navbar>li {
    display: inline-block;
    font-family: sans-serif;
    margin-inline: 80px;
    width: fit-content;
    padding-top: 3%;
    font-size: 24px;


}


img {
    display: inline-block;
    width: fit-content;
}

#Pancakes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;


}

#navlogo {
    border: rgb(190, 183, 183);
    border-style: solid;
    border-width: 10px;
    width: 145.25px;
    float: left;

}

.titlehead {
    text-indent: -110px;
}

#shortinfo {
    font-family: fantasy;
    font-size: 48px;
    text-align: center;
    background-color: white;
    padding: 3%;
    border: rgb(100, 159, 167);
    border-width: 15px;
    border-style: solid;
    border-bottom-style: none;
    border-bottom-color: none;
    border-bottom-width: none;

}

#bottominfo {
    font-size: 15px;
    background-color: rgb(243, 242, 242);
    margin-top: auto;
    text-align: center;
    border: rgb(100, 159, 167);
    border-width: 15px;
    border-style: solid;
    border-top-style: none;
    list-style: none;
}

footer {
    background-color: rgb(190, 183, 183);
    font-size: 20px;
    margin-top: 60px;
}

#largelogo {

    border: rgb(100, 159, 167);
    border-style: solid;
    border-width: 30px;
    float: left;
    width: 750px;
}

#aboutus {

    font-size: 18px;
    margin-left: 50px;
    display: inline-block;
    width: 280px;
    margin-left: -20px;
    font-family: sans-serif;
    padding-left: 30px;
    padding-right: 160px;
    padding-bottom: 66px;
    border-bottom-color: rgb(100, 159, 167);
    border-bottom-width: 30px;
    border-bottom-style: solid;
}

#aboutsubs {
    font-size: 25px;
    margin-top: 0px;
    width: 410px;
    padding-left: 40px;
    display: inline-block;
    font-family: sans-serif;

}

#menuheadings {
    display: flexbox;
    width: 300px;
    justify-content: center;
    margin-top: 70px;
    margin-left: 38%;
    text-align: center;
    margin-bottom: 30px;
}

#CommentButton {
    display: block;
    border: rgb(100, 159, 167);
    background-color: rgb(190, 183, 183);
    border-style: solid;
    border-width: 10px;
    border-radius: 1px;
    width: 200px;
    margin-top: 20px;
    font-size: 20px;
    height: 80px;
}

#CommentButton:hover {
    background-color: rgb(100, 159, 167);
}

#PostButton {
    display: block;
    width: 100px;
    height: 40px;
    margin-left: 480px;
    font-size: 20px;
    margin-bottom: 20px;
}

.CommentP {
    margin-top: 15px;
    display: block;
    width: 600px;
    font-family: sans-serif;
    word-wrap: break-word;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
}

.Replies {
    display: block;
    width: 100px;
    height: 40px;
    margin-left: 480px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
}
/* order items */
#menubody>div>ul>li {
    font-family: sans-serif;
    font-size: 20px;
    display: block;
    font-family: sans-serif;
    font-style: bold;
    width: fit-content;
    margin:3%;
    font-size: 24px;
    border-bottom-style:solid ;
    border-bottom-color:black ;
    border-bottom-width: 5px;

}
#menubody>ul>li {
    font-family: sans-serif;
    font-size: 20px;
    display: block;
    font-family: sans-serif;
    
    width: fit-content;
    margin:3%;
    font-size: 24px;
    border-bottom-style:solid ;
    border-bottom-color:black ;
    border-bottom-width: 5px;

}
#menubody>p{
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-size: 18px;
}
#menubody>p{
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-size: 18px;
}
.navbuttons{
    float: right;
    background-color: rgb(192, 129, 243);
    width: 100px;
    height: 60px;
    font-size: 20px;
    margin: 20px;
}
/* order items page */
.Addtocart{
    height: 50px;
    width: fit-content;
    background-color: rgb(190, 183, 183);
    margin-right: 10px;
    border: none;
    background-color: white;
    font-weight: bold;  
    font-size: 25px;
   
    
}
.Addtocart:hover{
    background-color: rgb(100, 159, 167);
    cursor: pointer;
}
.ordereditems{
    text-align: left;
    font-style: normal;
    border-right-width:5px ;
    border-right-style:solid ;
    border-right-color:black ;
    
    margin: 30px;
    padding-right:-30px;
}
.delbuts{
    background-color: rgb(255, 70, 70);
    width: 80px;
    height: 40px;
    font-size: 18px;
    margin: 15px;
    display: inline;
    margin-left: 80px;
    margin-bottom: -20px;

}