<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelio's Bistro</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://kit.fontawesome.com/4f63203b31.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/img/logo_black.png" type="image/x-icon">
</head>
<header>
    <img src="/public/img/logo_with_white.png" id="navlogo" alt="Amelio's Bistro Logo">
    <h1 id="titlehead">About Us! </h1>
    <nav>
        <ul>

            <li>
                <a href="/views/index.ejs">Home Page</a>
            </li>
            <li>
                <a href="/views/html/menu.ejs">Menu</a>
            </li>
            <li>
                <a href="/views/html/about.ejs">About us</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <img src="/public/img/logo_with_white.png" id="largelogo" alt="Amelios Bistro Logo">
    <p id="aboutus">
    <h2 id=aboutsubs>Who we are</h2>Amelio's Bistro is owned by the Mansour family and was founded in 2014. We take pride in bringing
    you the best tasting food with outstanding service! We buy only the highest quality and freshest
    ingredients. All food is homemade and cooked to order, meaning no microwaving prepared foods or food
    sitting under a heat rack. Our generous portions will satisfy your hunger without having to break the
    bank. We also believe that maintaining a clean workplace is critical. See the difference for yourself.
    <h2 id=aboutsubs>Let</h2></p>
</body>

</html>