<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelio's Bistro</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://kit.fontawesome.com/4f63203b31.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/img/logo_black.png" type="image/x-icon">
</head>
<header>
    <img src="/public/img/logo_with_white.png" id="navlogo" alt="Amelio's Bistro Logo">
    <h1 class="titlehead">Menu </h1>
    <nav>
        <ul id="navbar">
            <li>
                <a href="/views/index.ejs">Home Page</a>
            </li>
            <li>
                <a href="/views/html/menu.ejs">Menu</a>
            </li>
            <li>
                <a href="/views/html/about.ejs">About us</a>
            </li>
            <li>
                <a href="/views/html/order.ejs">Order</a>
            </li>
        </ul>
    </nav>
</header>

<body id="menubody">
    <h2 id="menuheadings">Our Menu</h2>
    <h2>Breakfast </h2>
    <p>All of our Breakfast Entrees are $11 and are served with Toast and your choice of Hashbrowns or
        a mini Stack of Pancakes. </p>
    <br>
    <ul id="breakfastitems">
        <li>Ham and Cheese Omellete </li>
        <li>Veggie Omellete </li>
        <li>Chocolate Chip Panckes</li>
        <li>Oreo Pancakes</li>
    </ul>
    <h2 id="lunchitems">Lunch</h2>
    <p>All of our Lunch Entrees are $14 and come with a choice of fries or garlic bread</p>
    <ul>
        <li>Chicken Quesadilla</li>
        <li>Greek Salad</li>
        <li>Chicken Marsala</li>
        <li>Flatbread Pizza</li>
    </ul>
    <h2>Dinner</h2>
    <p>All of our Dinner Entrees are $16</p>
    <ul id="dinneritems">
        <li>Classic Cheese Burger</li>
        <li>Chicken Parmesan</li>
        <li>8 oz. Steak and Roasted Potatoes</li>
    </ul>
    <h2>Sides</h2>
    <p>All sides are $5</p>
    <ul id="sideitems">
        <li>French Fries</li>
        <li>Grilled Mac and Cheese</li>
        <li>Bread and Hummus</li>
        <li>Bacon Bacon Strips</li>
    </ul>

</body>


<footer>
    <br>
    <hr>

    <p>&copy;Amelio's Bistro <br></p>
    <address>555 Forest Hill Drive <br> Auburn Hills, MI 48009</address><br>
    <p> Phone Number: <a href="tel:555-555-5555">555-555-5555</a></p>
    <label for="email">Business Email:</label>
    <a href="mailto: ameliosbistro@yahoo.com" id="email">ameliosbistro@yahoo.com</a> <br>
    <label for="email">Personal Email:</label>
    <a href="mailto: ameliomansour@yahoo.com" id="email">ameliomansour@yahoo.com</a> <br>
    <br>
    <p>Follow our socials!</p>
    <a href="https://www.instagram.com" target="_blank">
        <i class="fab fa-instagram-square fa-4x"></i>
    </a>
    <a href="https://www.facebook.com/" target="_blank">
        <i class="fab fa-facebook-square fa-4x"></i>
    </a>
</footer>

</html>