<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelio's Bistro</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://kit.fontawesome.com/4f63203b31.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/img/logo_black.png" type="image/x-icon">
</head>
<header>
    <img src="/public/img/logo_with_white.png" id="navlogo" alt="Amelio's Bistro Logo">
    <h1 id="titlehead">Menu </h1>
    <nav>
        <ul>
            <li>
                <a href="/views/index.ejs">Home Page</a>
            </li>
            <li>
                <a href="/views/html/menu.ejs">Menu</a>
            </li>
            <li>
                <a href="/views/html/about.ejs">About us</a>
            </li>

        </ul>
    </nav>
</header>

<body>
<h2 id="menuheadings">Our Menu</h2>
<h2>Breakfast</h2>
</body>

</html>