<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelio's Bistro</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://kit.fontawesome.com/4f63203b31.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/img/logo_black.png" type="image/x-icon">
    <script src="/public/js/script2.js" defer></script>
</head>
<header>
    <img src="/public/img/logo_with_white.png" id="navlogo" alt="Amelio's Bistro Logo">
    <h1 class="titlehead">Order </h1>
    <nav>
        <ul id="navbar">
            <li>
                <a href="/views/index.ejs">Home Page</a>
            </li>
            <li>
                <a href="/views/html/menu.ejs">Menu</a>
            </li>
            <li>
                <a href="/views/html/about.ejs">About us</a>
            </li>
            <li>
                <a href="/views/html/order.ejs">Order</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <button class="navbuttons"><a href="/views/html/cart.ejs">Cart</a></button>

    <body id="menubody">
        <h2 id="menuheadings">Our Menu</h2>
        <h2>Breakfast </h2>
        <p>All of our Breakfast Entrees are $11 and are served with Toast and your choice of Hashbrowns or
            a mini Stack of Pancakes. </p>
        <br>
        <div id="breakfast">
            <ul id="breakfastitems">
                <li><button class="Addtocart">ADD TO CART</button>Ham and Cheese Omellete </li>
                <li><button class="Addtocart">ADD TO CART</button>Veggie Omellete </li>
                <li><button class="Addtocart">ADD TO CART</button>Chocolate Chip Panckes</li>
                <li><button class="Addtocart">ADD TO CART</button>Oreo Pancakes</li>
            </ul>
        </div>
        <h2>Lunch</h2>
        <p>All of our Lunch Entrees are $14 and come with a choice of fries or garlic bread</p>
        <div id="lunch">
            <ul id="lunchitems">
                <li><button class="Addtocart">ADD TO CART</button>Chicken Quesadilla</li>
                <li><button class="Addtocart">ADD TO CART</button>Greek Salad</li>
                <li><button class="Addtocart">ADD TO CART</button>Chicken Marsala</li>
                <li><button class="Addtocart">ADD TO CART</button>Flatbread Pizza</li>
            </ul>
        </div>
        <h2>Dinner</h2>
        <p>All of our Dinner Entrees are $16</p>
        <div id="dinner">
            <ul id="dinneritems">
                <li><button class="Addtocart">ADD TO CART</button>Classic Cheese Burger</li>
                <li><button class="Addtocart">ADD TO CART</button>Chicken Parmesan</li>
                <li><button class="Addtocart">ADD TO CART</button>8 oz. Steak and Roasted Potatoes</li>
            </ul>
        </div>
        <h2>Sides</h2>
        <p>All sides are $5</p>
        <div id="sides">
            <ul id="sideitems">
                <li><button class="Addtocart">ADD TO CART</button>French Fries</li>
                <li><button class="Addtocart">ADD TO CART</button>Grilled Mac and Cheese</li>
                <li><button class="Addtocart">ADD TO CART</button>Bread and Hummus</li>
                <li><button class="Addtocart">ADD TO CART</button>Bacon Bacon Strips</li>
            </ul>
        </div>

    </body>
</body>
<footer>
    <br>
    <hr>

    <p>&copy;Amelio's Bistro <br></p>
    <address>555 Forest Hill Drive <br> Auburn Hills, MI 48009</address><br>
    <p> Phone Number: <a href="tel:555-555-5555">555-555-5555</a></p>
    <label for="email">Business Email:</label>
    <a href="mailto: ameliosbistro@yahoo.com" id="email">ameliosbistro@yahoo.com</a> <br>
    <label for="email">Personal Email:</label>
    <a href="mailto: ameliomansour@yahoo.com" id="email">ameliomansour@yahoo.com</a> <br>
    <br>
    <p>Follow our socials!</p>
    <a href="https://www.instagram.com" target="_blank">
        <i class="fab fa-instagram-square fa-4x"></i>
    </a>
    <a href="https://www.facebook.com/" target="_blank">
        <i class="fab fa-facebook-square fa-4x"></i>
    </a>
</footer>


</html>